@{
    ViewData["Title"] = "Спасибо!";
}

@model string

<h3>Thank you for your purchase</h3>
<p>Order number @Model</p>
<br />
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Main menu</a>
